@import "../../index.scss";

.page-container {
  // width: 97%;
  // margin: 20px auto;
  padding: 10px 0px;

  background-color: #f5f8fdcf;
  position: sticky;
  left: 0;
  right: 0;
  top: 0;

  .navbar-container {
    margin: 0 auto;
    width: 85%;
    display: flex;
    gap: 20px;
    justify-content: space-between;

    align-items: center;

    .logo-content {
      a{
        text-decoration: none;
        color:$mainColor;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 9px;
    }}

    ul {
      .cart {
        display: flex;
        align-items: center;
        // gap:4px;

        a {
          text-decoration: none;
          color: $mainColor;
        }
      }
    }
  }
}
