* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Nunito Sans", sans-serif;
  list-style-type: none;
}

.cart-page-container {
  display: flex;
  flex-direction: column;
  width: 70%;
  margin: 50px auto;
  gap: 40px;
  justify-content: center;
}
@media (max-width: 940px) {
  .cart-page-container {
    width: 100%;
  }
}
.cart-page-container .no-product {
  display: flex;
  justify-content: center;
  width: 40%;
  margin: 0 auto;
  color: rgb(186, 76, 76);
}
@media (max-width: 940px) {
  .cart-page-container .no-product {
    width: 80%;
    display: flex;
    justify-content: center;
  }
}
.cart-page-container .cart-page-content {
  width: 90%;
  display: flex;
  gap: 80px;
  align-items: center;
}
@media (max-width: 940px) {
  .cart-page-container .cart-page-content {
    width: 80%;
    margin: 0 auto;
    gap: 20px;
  }
}
.cart-page-container .cart-page-content .cart-page-content-img {
  width: 50%;
  height: 200px;
}
@media (max-width: 940px) {
  .cart-page-container .cart-page-content .cart-page-content-img {
    width: 50%;
    height: 200px;
  }
}
.cart-page-container .cart-page-content .cart-page-content-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.cart-page-container .cart-page-content .cart-page-content-price {
  display: flex;
  width: 40%;
  flex-direction: column;
  gap: 20px;
}
@media (max-width: 940px) {
  .cart-page-container .cart-page-content .cart-page-content-price {
    width: 50%;
  }
}
.cart-page-container .cart-page-content .cart-page-content-price .quantity-container {
  height: 40px;
  display: flex;
  align-items: center;
}
.cart-page-container .cart-page-content .cart-page-content-price .quantity-container .increase {
  background-color: rgb(22, 86, 22);
  padding: 10px 15px;
  border: none;
  color: white;
  height: 100%;
  font-size: 18px;
}
.cart-page-container .cart-page-content .cart-page-content-price .quantity-container .quantity {
  height: 100%;
  padding: 12px 15px;
  font-size: 18px;
  background-color: rgb(228, 233, 233);
}
.cart-page-container .cart-page-content .cart-page-content-price .quantity-container .decrease {
  height: 100%;
  font-size: 18px;
  color: white;
  border: none;
  padding: 10px 15px;
  background-color: rgb(196, 68, 68);
}
.cart-page-container .cart-page-content .cart-page-content-price h3 {
  color: #2E285A;
}
@media (max-width: 940px) {
  .cart-page-container .cart-page-content .cart-page-content-price h3 {
    word-wrap: break-word;
    display: flex;
    flex-direction: column;
  }
}
.cart-page-container .cart-page-content .cart-page-content-price h3 .price {
  color: rgb(22, 86, 22);
  font-size: 12px;
}
.cart-page-container .cart-page-content .cart-page-content-price .removeBtn {
  background-color: rgb(122, 26, 26);
  color: white;
  padding: 10px;
  cursor: pointer;
  border: none;
}
.cart-page-container .cart-page-footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  width: 60%;
  margin: 0 auto;
}
@media (max-width: 940px) {
  .cart-page-container .cart-page-footer {
    width: 80%;
  }
}
.cart-page-container .cart-page-footer h2 {
  color: rgb(22, 86, 22);
  font-size: 20px;
}
.cart-page-container .cart-page-footer button {
  padding: 10px;
  border: none;
  background-color: #56527b;
  font-size: 18px;
  cursor: pointer;
}
.cart-page-container .cart-page-footer button a {
  color: white;
  text-decoration: none;
}/*# sourceMappingURL=CartPage.css.map */