@import '../../index.scss';
.all-product-container{
    width: 88%;
    margin: 30px auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap:50px;
    @include breakpoints(mobile){
        width: 100%;  
    gap: 20px;              }
     
}